---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import type { jellyfin } from "../api/jellyfin";
import { get } from "../api/jellyfin";

export const prerender = false;

const purl = Astro.url.searchParams.get("url");
const pusername = Astro.url.searchParams.get("username");
const papi_Key = Astro.url.searchParams.get("api_Key");

var lojelly: jellyfin = {
  username: pusername,
  url: purl,
  api_Key: papi_Key,
};

var awa = await get(lojelly);
---

<Layout title="JellyPosterr">
  <main>
    <div class="w-screen h-screen relative overflow-hidden overscroll-none">
      <div class="w-screen h-screen p-7 pt-2 absolute" style="z-index: 1;">
        <div class="w-full h-full flex flex-col">
          <p
            class="text-md font-medium leading-none text-center drop-shadow-xl mb-3"
          >
            {
              awa.watching
                ? `now screening ${awa.raw.SeriesName}!`
                : `${awa.raw.SeriesName} now available!`
            }
          </p>
          <img
            class="h-full w-auto rounded-lg m-auto shadow-xl"
            src={`${lojelly.url}/Items/${awa.raw.SeriesId}/Images/Primary`}
          />
        </div>
      </div>

      <div class="w-screen h-screen bg-black opacity-75" style="z-index: -1;">
        <img
          class="w-full h-full blur-sm scale-110"
          src={`${lojelly.url}/Items/${awa.raw.SeriesId}/Images/Primary`}
        />
      </div>
    </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(
      rgba(var(--accent-dark), 66%),
      rgba(var(--accent-dark), 33%)
    );
    padding: 1.5rem;
    border-radius: 8px;
  }
  .instructions code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }
  .instructions strong {
    color: rgb(var(--accent-light));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
</style>
